.energy,
.platelet,
.pain ,
.where-exercise {
  margin-top: 2rem;
}

.energy-inputs {
  display: flex;
  margin-top: 2rem;
}

.energy-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: 2rem;
  img {
    max-width: 35%;
  }
}

.energy-images-faces {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: 2rem;
  img {
    max-height: 8rem;
  }
}

.where-exercise-inputs {
  display: flex;
  margin-bottom: 4rem;
}
