h2, h3 {
  padding-bottom: 1rem;
}

  .sign-in {
  display: flex;

  .sign-in .form-control {
    max-width: 100%;
  }

  .welcome-sign-in-header {
    display: flex;
  }

  .flames-foundation-logo {
    height: 6rem;
    margin-top: 2rem;
  }

  .welcome-sign-in-header h1 {
    font-size: 4rem;
    margin: 4rem 2rem;
  }
}

.sign-in-contents {
  margin: 3.5rem 0;

  .start-screening-container {
    padding-top: 4rem;
    @media screen and (min-width: 1050px) {
      border-left: 3px dashed #e8cf00;
      padding-left: 12rem;
      padding-top: 0;
    }
  }
}

@media (max-width: 768px) {

  .welcome-sign-in-header h1 {
    font-size: 3rem!important;
  }

  .flames-foundation-logo {
    display: none!important;
  }

}
