footer {
  background-color: #0073ae;
  color: #fff;
  padding: 3rem;
  display: flex;

  .footer-logo {
    max-width: 40%;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 1050px) {
      max-width: 35%;
    }
    
  }
  
  .footer-left {
    text-align: left;
    
    p {
      margin-bottom: 0.15rem;
    }
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    a {
      color: #e8cf00;
    }

    p {
      padding-top: 2rem;
    }
    
    @media screen and (min-width: 1050px) {

      p {
        padding-top: 0;
      }
    }

    
    
    .privacy-link {
      padding-right: 2rem;
    }
    
    .terms-of-use-link {
      padding-left: 2rem;
      border-left: 1px solid #fff;
    }
  }
}

.social {
  display: flex;
  justify-content: space-around;
  width: 164px;
  margin-right: 35px;
  i {
    margin-left: 10px;
    margin-bottom: -20px;
  }
}
