
.header {
    display: flex;
    background: hsl(54, 100%, 45%);
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
    color: #dc3545;
} 

.header li {
    list-style-type: none;
}

.header a {
    font-size: 2rem;
    padding: 2rem 0;
    /* TODO: CSS transitions */
    /* transition: color 0.3s linear; */
}

.hamburger {
    padding-right: 5px;
    position: absolute;
    top: 0; 
    right: 0;
    background: hsl(54, 100%, 45%);
    text-align: right;
}

.hamburger-open {
    li a {
        color: #fff;
    }
    background-color: #dc3545;
    top: 40px;
}

.hamburger button {
    border: 0;
    background: hsl(54, 100%, 45%);
    color: #dc3545;
}

.desktop-bar {
    display: none;
}

@media screen and (min-width: 1050px) {
    .hamburger {
        display: none;
    }

    .desktop-bar {
        display: block;
        width: 100%;
        ul { 
            display: flex;
            justify-content: space-around;
            li {
                padding-left: 5px;
            }
        }
    }
}
